html, body{
    height: 100%;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

#fade-bg {
    display:none;
    height: 100%;
    line-height: 300px;
}

.fade-text {
    display: none;
    font-size: 30px;
    vertical-align: middle;    
}

.inline {
    display: inline-block;
}

.fas {
    font-size: 45px;
}

.centered {
    text-align: center;
    height: 100%;
    margin: auto;
}

.row{
  align-items: center;
}




