
form div{
    margin: 20px;
}


form.content-form{
    margin: 20px;
}

table{
    width: 100%;
}

tr{
    margin: 10px;
}

td.name{
    width: 20%;
    text-align: right;
    padding: 10px;
}

td.box{
    width: 30%;
    text-align: left;
    padding: 10px;
}

td.msg{
    width: 50%;
    text-align: left;
    padding: 10px;
}

input[type=submit], input[type=reset]{
    width: auto;
}

div.btn-center{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

div.chapter-progress{
    margin: 10px 0px;
}

.chart{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

/*
#chart-normal{
    margin-left:auto;
    margin-right:auto;
}

#chart-hard{
    margin-left: auto;
    margin-right: 0;
}
*/


